@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap");
body {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
p {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 35px;
  /* height: 100vh; */
  /* background: linear-gradient(to bottom, #5b21b6, #1e40af); */
  color: #ede8e8;
}

.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.button {
  border: 1px solid #000;
  background: transparent;
  margin: 5px 5px;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button,
select {
  padding-top: 15 px;
  background: linear-gradient(to bottom, #752d5c, #8e3d7e);
}

.button:hover {
  box-shadow: 3px 3px 0px 0px rgba(0, 0, 0);
}

.items-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.item {
  padding: 4px 10px;
  min-width: 100px;
  min-height: 50px;
  margin: 4px 10px;
  border: 1px solid #000;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.category {
  color: black;
  font-size: 10px;
}

.active {
  background-color: #1e293b;
  color: #fff;
}

::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Goldman", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #101010;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 30rem;
  color: #f2d5e0;
}

.image::after {
  content: "";
  position: absolute;
  inset: 0;
  box-shadow: 1px -45px 23px -2px rgba(0, 0, 0, 0.66) inset;
  -webkit-box-shadow: 1px -45px 23px -2px rgba(0, 0, 0, 0.66) inset;
  -moz-box-shadow: 1px -45px 23px -2px rgba(0, 0, 0, 0.66) inset;
}

.image img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.image1 img {
  object-fit: cover;
}

.title {
  position: absolute;
  bottom: 5%;
  left: 5%;
}

.endDate {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

#footerLink {
  color: white;
}
