@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.header {
  display: flex;
  align-items: center;
  background-color: #582256;
  color: white;
  padding: 10px;
}

.header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header nav ul li {
  display: inline;
  margin-right: 10px;
  word-spacing: 5%;
}

.header nav ul li:last-child {
  margin-right: 0;
}
.header img {
  display: flex;
  width: 3rem;
}
.auction-btn {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.auction-btn:hover {
  background-color: #45a049;
}
.form-container {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f6f6f6;
}

.form-container label {
  font-weight: bold;
  color: #45a049;
}
.form-container input,
textarea {
  font-weight: 200;
  background-color: #45a049;
}

.form-container input,
.form-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #531717;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-container button:hover {
  background-color: #45a049;
}

.error-message {
  color: red;
  margin-bottom: 15px;
}

.footer {
  display: flex; /* Aktivera Flexbox */
  align-items: center; /* Centrera vertikalt */
  justify-content: center; /* Centrera horisontellt */
  background-color: #582256; /* Färg */
  color: white; /* Textfärg */
  padding-bottom: 8px; /* Fyllning */
  position: fixed; /* Fixerad position */
  width: 80%; /* Bredd */
  bottom: 0; /* Bottenposition */
  left: 0; /* Vänsterposition */
  margin-left: 145px; /* Centrera automatiskt */
  margin-bottom: 10px;
}

li {
  display: inline-block;
  margin: 0.5rem;
}
ul {
  margin: 0;
  list-style: none;
  padding: 0;
}
.auction-list {
  display: flex; /* Make the container a flexbox */
  flex-wrap: wrap; /* Wrap cards to multiple rows if needed */
  justify-content: space-around; /* Distribute cards evenly with some spacing */
}

.auction-cards-container {
  display: flex; /* Inherit and ensure flexbox for cards */
}

.auction-card {
  /* Style each auction card here */
}
.auctions-title {
  color: white;
}
